button{
    margin: 20px 20px 20px 20px;
    max-width: 200px;
    max-height: 100px;
}

#topButtons{
  display: flex;
  justify-content: center;
}

#parentDiv{
    display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Arial;
}
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
    .column {
      -ms-flex: 33%;
      flex: 33%;
      max-width: 33%;
    }

  @media screen and (max-width: 1400px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 910px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }