
<!-- 
    This file contains the structure of a post (rendered in a grid of 12 within the gallery component).
    The flip-card style is based off the following w3 article: https://www.w3schools.com/howto/howto_css_flip_card.asp
 -->
<div *ngIf="post" class="card">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img [src]="imgArray[picIndex]" alt="Avatar" style="width:100%">
            </div>
            <div class="flip-card-back">
                <div class="center-vert">
                    <h3>Score:</h3>
                    <h1>{{post.score}}</h1>
                    <div style="padding-top: 50px"></div>
                    <button><a href='{{post.url}}' style="text-decoration: none;">Read More</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <h4 style="height:85px"><strong>{{post.title}}</strong></h4>
      <p style="text-align:start;">By: {{post.by}}</p>
    </div>
  </div>