<!-- <div *ngIf="post" class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front" [style.background-color]="colorPalette[randomNum]">
            <div style="width:300px; height:300px; margin-top: 100;" >{{post.title}}</div>
        </div>
        <div class="flip-card-back">
            <h1>{{post.by}}</h1>
            <button><a href='{{post.url}}'>Check it out!</a></button>
        </div>
    </div>
</div> -->

<!-- <div *ngIf="post" class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front" [style.background-color]="colorPalette[randomNum]">
            <div style="width:300px; height:300px; margin-top: 100;" >{{post.title}}</div>
        </div>
        <div class="flip-card-back">
            <h1>{{post.by}}</h1>
            <button><a href='{{post.url}}'>Check it out!</a></button>
        </div>
    </div>
</div> -->

<div *ngIf="post" class="card">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img [src]="imgArray[randomNum]" alt="Avatar" style="width:100%">
            </div>
            <div class="flip-card-back">
                <div class="center-vert">
                    <h3>Score:</h3>
                    <h1>{{post.score}}</h1>
                    <div style="padding-top: 50px"></div>
                    <button><a href='{{post.url}}'>Read More</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <h4 style="height:85px"><strong>{{post.title}}</strong></h4>
      <p style="text-align:start;">By: {{post.by}}</p>
    </div>
  </div>