.flip-card {
    background-color: transparent;
    height: 380px;
    width: 380px;
    perspective: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flip-card-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    margin-top: 8px;
  }
  
  .flip-card-front {
    color: black;
  }

  
.flip-card-back {
    background-color: grey;
    color: white;
    transform: rotateY(180deg);
    height: 350px;
  } 
  .container {
    padding: 2px 16px;
    height: 130px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    margin: 20px;
  }
  
  img {
    border-radius: 5px 5px 0 0;
    height: 350px;
    width: 350px;
  }